.schedule-table {
  min-width: 800px;
  margin: 45px auto 0;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  border-spacing: 0;
  text-align: left;
  font-size: 18px;

  tr.active {
    background: #D0212A;
    color: #fff;

    td {
      background: none;

      .name {
        color: #fff;
      }
    }
  }

  th {
    color: #1F419B;
    padding: 15px;
    border-bottom: 2px solid;

    &:first-child {
      border-color: #E0E0E0;
    }

    &.day-1 {
      color: #D0212A;
      border-color: #D0212A;
    }

    &.day-2 {
      color: #048854;
      border-color: #048854;
    }
  }

  td {
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;

    &.time {
      background: #F9F9F9;
      font-weight: bold;
      border-right: 1px solid #e0e0e0;
      width: 100px;
      font-size: 16px;
    }

    &.title {
      border-right: 1px solid #e0e0e0;

      &:last-child {
        border-right: 0;
      }
    }

    .talk {
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #636363;
      }
    }

    .name {
      margin-left: 10px;
      font-size: 16px;
      line-height: 20px;
      color: #1F419B;
    }
  }
}

@media (max-width: 800px) {
  .schedule-table {
    width: auto;
    min-width: 0;
    font-size: 16px;

    td {
      padding: 5px 10px;

      &.time {
        font-size: 14px;
      }
    }

    .talk {
      display: block;
    }

    .name {
      margin-left: 0 !important;
    }
  }
}